.auth {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &__image {
        height: 100%;
        max-height: 90vh;
        object-fit: contain;
    }

    &__box {
        margin: 0 32px;
        flex: 1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 1700px) {
    .auth {
        &__image {
            display: none;
        }

        &__box {
            height: 90vh;
            align-items: center;
        }
    }
}